__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
*.pt
*.onnx
*.h5
*.keras
runs/
wandb/
.runtime/
*.cache
data/train/images/*
data/train/labels/*
data/val/images/*
data/val/labels/*
data/test/images/*
data/test/labels/*
.artifacts/
*.zip
